body {
  background-image: url(https://images.pexels.com/photos/3384692/pexels-photo-3384692.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 30px;
}

.dashboard {
  width: 500px;
  height: 630px;
  background-color: transparent;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 25px;
  border: 1px solid #393e46;
  padding-bottom: 2px;
  backdrop-filter: blur(20px);
}

.dashboard,
img {
  display: block;
  margin: 0 auto;

}

h1,
.description-weather,
.row-col-3,
.row-col-5,
.menu,
.coder {
  text-align: center;
}

h4 {
  font-size: 15px;
  padding-top: 30px;
  padding-left: 35px;
}

h1,
h3 {
  font-size: 30px;
}

img {
  max-width: 300px;
}

.description-weather {
  font-size: 20px;
  color: #1e463c;
  font-weight: initial;
}

.wind,
.temp,
.col {
  font-size: 13px;
}

.row-col-5 {
  font-size: 15px;
}
.menu {
  padding: 8px;
}
.button {
  display: inline;
  position: relative;
  left: 125px;
  bottom: 30px;
}

.coder {
  color: whitesmoke;
  font-family: monospace;
  font-size: 12px;
}
